.cart-wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 20px;
  color: #505050;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 0 20px;
}

.products-in-cart {
  flex: 1;
}

.summary-wrap {
  width: 300px;
  border: 1px solid #bebdbd;
  border-radius: 10px;
  overflow: hidden;
}

.cart-item-number {
  margin-right: 5px;
}

