.applied-code-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9c9c9c;
  padding: 5px;
}

.applied-code-item > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.applied-code-item p {
  margin: 5px;
}

.applied-code-item p span {
  font-weight: bold;
}

.code-remove-button {
  cursor: pointer;
}